<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-12 d-flex justify-content-center">
        <button type="button" class="btn btn-success mx-auto p-2" data-bs-toggle="modal" and data-bs-target="#exampleModalOpen">Add to this story?</button>
      </div>

      <h1>{{story.story_title}}</h1>
    </div>
  </div>
    <div class="col-md-12">
      <div class="card mb-3">
        <div class="card-body">
            {{#each story.segments}}
          <p class="segment-text" text-indent="0px">{{segment_content}}</p>
          {{/each}}
        </div>
      </div>
    </div>
  <div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Story Breakdown</h3>
    </div>
  </div>
  {{#each story.segments}}
    <div class="col-md-12">
      <div class="card mb-3">
        <div class="card-body">
        <h5 class="card-title">Segment {{position}}</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Created By: {{user.username}}</h6>
          <p class="segment-text">{{segment_content}}</p>
        </div>
      </div>
    </div>
  {{/each}}
</div>

